html, body {
  background-color: #f3fb99;
}

nav {
  border: 1px solid black;
  background-color: #5b676d;
}

.logo {
  align: center;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: lightblue;
}

main {
  margin-top: 150px;
  padding: 10px;
  background-color: white;
  border: 1px solid #1f1765;
}

ul {
  list-style-type: disc;
}

.tab {
  overflow: visible;
}

.Class:nth-child(odd) {
  background: #afb9c5;
  color: black;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Class:nth-child(even) {
  background: #111f28;
  color: #e3cdb3;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #1f1765;
}

@media screen and (max-width: 499px) {
  html, body {
    background-color: black;
  }

  nav {
    font-size: .5em;
  }

  .nav-item {
    display: none;
  }

  .logo {
      display: none;
  }
}

@media screen and (min-width: 500px) {
  html, body {
    background-color: lightblue;
  }

  nav {
    font-size: .8em;
  }

  .logo {
      height: 60px;
      width: auto;
  }

  .dropdown {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  html, body {
    background-color: #060607;
  }

  nav {
    font-size: 1.2em;
  }


  .logo {
      height: 80px;
      width: auto;
  }

  .dropdown {
    display: none;
  }

}

@media screen and (min-width: 1000px) {
  html, body {
    background-color: #060607;
  }

  nav {
    font-size: 1.8em;
  }

  .logo {
      height: 120px;
      width: auto;
  }

  .dropdown {
    display: none;
  }

}
