html, body {
  background-color: #060607;
}

nav {
  border: 1px solid black;
  background-color: #5b676d;
}

main, footer {
  border-radius: 10px;
}

.card-img-top {
  width: 40rem;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: lightblue;
}

main {
  margin-top: 120px;
  padding: 10px;
  background-color: white;
  border: 1px solid #1f1765;
}

ul {
  list-style-type: disc;
}

.tab {
  overflow: visible;
}

.section:nth-child(odd) {
  background: #afb9c5;
  color: black;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section:nth-child(even) {
  background: #111f28;
  color: #e3cdb3;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #1f1765;
}

@media screen and (max-width: 779px) {
  .logo_small {
    display: inline;
    height: 60px;
  }

  .logo {
    display: none;
  }

  .card-img-top {
    display: none;
  }
}

@media screen and (min-width: 780px) {
  .logo_small {
    display: none;
  }

  .logo {
    height: 80px;
  }
}
